<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Skarnsundet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}" />

  <!--<link rel="stylesheet" type="text/css" href="index.css" />-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='home.js') }}"></script>

</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">Brand</a>-->
      </div><!--/container fluid-->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" id="#bs-example-navbar-collapse-1">
          <li class="active"><a href="#">Hjem</a></li>
          <li><a href="#">Forskning</a></li>
          <li><a href="#">Under vann</a></li>
          <li><a href="album/index.html">Album</a></li>
        </ul>
      </div>
    </div><!--/container fluid-->
  </nav>
  <div class="container-fluid hode" id="header"> 
    <h1>Skarnsundet</h1>

  </div>
  <div class="kropp">
    <div class="col-md-12">
      <h1>Indtroduksjon</h1>
      <p>Her kan det stå en liten intruduksjon til siden</p>
      
    </div>
    <div class="bokser">
    <div class="col-md-6"  href="#">
      <a href="album/index.html"><div class="caption post-content forskning">
      <h1>Forskning</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>
    </div>
    <div class="col-md-6">
      <a href="album/index.html"><div class="caption post-content forskning">
      <h1>Forskning</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>
    </div>
    <div class="col-md-6 ">
      <a href="album/index.html"><div class="caption post-content forskning">
      <h1>Forskning</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>   
    </div>
    <div class="col-md-6 " href="album/index.html">
      <a href="album/index.html"><div class="caption post-content forskning">
      <h1>Album</h1>
      <p>Forskning i Skarnsundet er veldig bra. Det er mye å forske på for store å små. Noen forsker på fisk. Andre forsker på koraller. Noen forsker til og med på fjordkultur.</p>
      </div></a>
    </div>
    </div><!--/bokser--> 
  </div><!--/kropp-->


  <footer class="footer">
    <div class="container">
        <p>Noe tekst kan stå her nede</p>

    </div>

  </footer>
</body>
</html>